
html{
    background-color: #FBF9E2;
    margin: 10px;
}

.nav {
    background-color: #3A3A44;
}


h1 {
    background-color: #3A3A44;
    color: #FBF9E2;
    padding: 10px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

h3 {
    font-style: italic;
    font-weight: normal;
}

